body{
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    font-family: 'montserrat';
}

nav{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.logo{
    height: 30px;
    margin-top: 5px;
}

.nav-list{
    list-style-type: none;
    display: flex;
}

a{
    color: #000000;
    text-decoration: none;
}

.list-items{
    margin-right: 30px;
}

.register-a{
    background-color: #ffffff;
    border: 1px solid #07A5F4;
    color: #07A5F4;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: -15px;
}

.home-section{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.home-section-content{
    margin-left: 50px;
}

.home-section-img{
    height: 450px;
    margin-right: 20px;
}

.home-section-h ,
.quality-section-h,
.support-section-h,
.services-h,
.register-section-h,
.customer-section-content-h{
    font-size: 45px;
}

.home-section-p,
.quality-section-p,
.support-section-p,
.services-p,
.customer-section-p,
.top-review-1-p{
    color: #535252;
    line-height: 1.5;
}

.button-blue{
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: 10px;
  color: #FFFFFF;
  display: flex;
  font-size: 15px;
  padding: 15px 25px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  }

.button-blue:hover{
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

.quality{
    margin: 80px 0;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
.quality-div-img{
    height: 370px;
    margin-left: 50px;
}

.readmore{
    padding:15px 55px;
}

.quality-section-content{
    margin-right: 50px;
}

.support{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.support-section-img{
    height: 400px;
}

.support-section-content{
    margin-left: 50px;
}

.support-section-img{
    margin-right: 20px;
}

.services{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.services-p{    
    margin-top: 60px;
}

footer{
    display: flex;
    justify-content: space-between ;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

footer>ul{
    list-style-type: none;
}

.list-header{
    font-size: 20px;
    font-weight: bold;
}

footer>ul>li{
    margin-top: 15px;
    color: #494848;
    font-size: 15px;
}

footer>ul>li:hover{
    color: #000;
    text-decoration: underline;
}

.social-img{
    height:30px
}

.left-p{
    line-height: 1.5;
    color: #494848;
}

.register-section{
    background-image: linear-gradient(to right bottom, 
                    hsla(199, 69%, 65%, 0.8), 
                    rgba(0, 163, 243, 0.8), 
                    rgba(0, 135, 255, 0.8),
                    hsla(216, 100%, 50%, 0.8),
                    rgba(5, 49, 245, 0.8));
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 40px 50px;
    color: #ffffff;
}

.register-section-btn{
    background-color: #339AFF;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 10px;
    margin-right: 70px;
}

.register-section-p{
    line-height: 1.5;
}

.customer-section-content{
    text-align: center;
}

.customer-section{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 30px;
    align-items: center;
}

.customer-section-p{
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
}

.review-top{
    display: flex;
}

.top-review-1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 5px;
}

.review-bottom{
    display: flex;
}

.bottom-review-1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 5px;
}

.dot{
    background-color: grey;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin-top: 40px;
    margin-right: 5px;
    display:block;
}

.dot-main{
    display: flex;
}

h6{
    margin-bottom: 0;
    font-size: 15px;
}

.review:hover{
     box-shadow: 10px 10px 20px 1px rgba(0, 0, 255, .2);;
} 

.review{
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
}

.customer-review{
    margin: 50px 0px;
}

.pricing-section {
    padding: 50px 70px 50px 20px;
    background-image: linear-gradient(to right bottom, 
                    #66bbe3, #24aaee, 
                    #0097f7, #0081fb, #3465f6);
}

.pricing-section > h1 {
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 60px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
}

h4 {
    font-size: 25px;
    margin-bottom: 15px;
}

.top > p {
    color: #808080;
}

.content {
    display: flex;
    gap: 10px;
    align-items: center;
}


.bottom {
    text-align: center;
}

h3 {
    font-size: 30px;
}

.bottom span {
    color: #808080;
}

.bottom p {
    color: #808080;
    margin: 15px;
}

.card-btn {
    color: #369ac8;
    border: 1px solid #369ac8;
    background-color: transparent;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 6px;
    margin-top: 20px;
    box-shadow: #369ac826 0px 1px 2px 0px, #369ac84d 0px 2px 6px 2px;
}

.card-btn:hover{
    color: #ffffff;
    border: 1px solid #369ac8;
    background-image: linear-gradient(to right bottom, #66bbe3, #24aaee, #0097f7, #0081fb, #3465f6);
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 6px;
    box-shadow: #369ac826 0px 1px 2px 0px, #369ac84d 0px 2px 6px 2px;
}

h5{
    font-size: 20px;
}

.service-types-top,
.service-types-bottom{
    display: flex;
    justify-content: space-between;
    margin: 0 25px 0 25px;
}

.top > img,
.bottom-1>img
{
    height: 50px;
}

.top>p,
.bottom-1>p{
    font-size: 15px;
}

.service-types-top{
    margin:20px;
}

.top,
.bottom-1{
    margin:0px 20px;
}

.bars{
    display:none;
}

/* mobile responsive */
@media screen and (max-width: 975px) {
    .nav-list {
      display: none;
    }

    .bars{
        display:inline;
    }

    .ham{
        width:30px;
        margin-top:10px;
    }

    .home-section{
        flex-direction: column-reverse;
        margin-left: 0;
        margin-right: 0;
    }

    .home-section-p{
        margin-right:10px;
    }

    .home-section-h{
        font-size:30px;
    }

    .button-blue{
        margin: auto;
    }

    .home-section-img{
        height: 250px;
        margin:auto; 
    }

    .quality{
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }

    .quality-div-img{
        height:250px;
        margin:auto;
    }

    .quality-section-h{
        font-size:30px;
    }

    .quality-section-content{
        margin-left:50px;
    }
    
    .support{
        flex-direction: column-reverse;
        margin-left: 0;
        margin-right: 0;
    }

    .support-section-h{
        font-size:30px;
    }

    .support-section-img{
        height:250px;
        margin:auto;
    }

    .services{
        flex-direction: column;
        margin-left: 40px;
    }

    .services-h{
        font-size:30px;
        margin:0;
    }

    .services-p{
        margin-top:10px;
    }

    .pricing-section{
        padding: 0 50px 30px 50px;
    }

    .pricing-section>h1{
        font-size: 30px;
        padding-top:20px;
    }

    .cards{
        flex-direction:column;
    }

    .customer-section-content-h{
        font-size:30px;
    }
    
    .review-top{
        flex-direction: column;
    }

    .review-bottom{
        flex-direction: column;
    }
    
    .customer-section-p{
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    .register-section{
        flex-direction: column;
    }

    .register-section-h{
        font-size:30px;
    }

    footer{
        flex-direction:column;
        text-align:center;
    }

    nav{
        margin-left:15px; 
        margin-right: 15px; 
    }

    .register-section-btn{
        margin-right:0;
    }

    .service-types-top{
        display:flex;
        flex-direction:column;
    }

    .service-types-bottom{
        display:flex;
        flex-direction:column;
    }

    footer>ul{
        margin:auto;
        padding:0;
    }
  }